:root {
    --transition-duration: 70ms;
}

body {
    font-family: "Oswald", sans-serif;
}

/** - Helpers - */

.no-underline {
    text-decoration: none !important;
}

.rounded-none {
    border-radius: 0 !important;
}

.list-none {
    list-style-type: none !important;
}

/** - App Header - */

#app-header {
    background-color: #f1f1f1;
}

#app-header .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

#app-header .info {
    line-height: 24px;
    color: #7a7878;
}

#app-header nav a {
    font-size: 22px;
    line-height: 36px;
    color: #000000;
}

#app-header nav button {
    background: #eb8072;
    border-radius: 14px;
    font-size: 22px;
    color: #ffffff;
    border: none;
}

#app-header .contact {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

/** - Description - */

#description {
    background-color: #f1f1f1;
}

#description .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 46px;
}

#description .content img {
    max-width: 100%;
    object-fit: cover;
}

#description .title {
    font-size: 96px;
    line-height: 142px;
    color: #eb8072;
}

#description .target {
    font-size: 48px;
    line-height: 71px;
    color: #eb8072;
}

#description .order-type {
    font-size: 48px;
    line-height: 71px;
    color: #ffffff;
    background-color: #282f4b;
}

#description .name {
    font-size: 48px;
    line-height: 71px;
    color: #eb8072;
}

#description .price {
    font-size: 64px;
    line-height: 95px;
    color: #eb8072;
}

/** - Purpose - */

#purpose {
    background-color: #282f4b;
}

#purpose .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 92px 70px;
}

#purpose .content .cart {
    padding: 18px 24px;
    background-color: #f1f1f1;
    border-radius: 10px;
    gap: 8px;
    min-height: 355px;
    height: 100%;
}

#purpose .content .cart p {
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

/** - Specifications - */

#specifications {
    background-color: #f1f1f1;
}

#specifications .title {
    margin-bottom: 96px;
}

#specifications .title h2 {
    font-size: 48px;
    line-height: 71px;
    color: #000;
}

#specifications .title span {
    background-color: #eb8072;
    color: #fff;
    line-height: 100%;
    padding-bottom: 14px;
}

#specifications .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
    padding-bottom: 22px;
}

#specifications .content .first {
    margin-bottom: 96px;
}

#specifications .content .first img {
    max-width: 100%;
    object-fit: cover;
}

#specifications .content .first .list {
    font-size: 32px;
    line-height: 47px;
}

#specifications .content .first .list h3 {
    font-size: 42px;
}

#specifications .content .second p {
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

/** Media Queries */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
    /** - Use Cases - */

    #purpose .content .row {
        gap: 16px;
    }

    /** - Specifications - */

    #specifications .title {
        margin-bottom: 42px;
    }

    #specifications .content .first {
        margin-bottom: 42px;
    }

    #specifications .list {
        padding-top: 32px;
    }
}

@media only screen and (max-width: 992px) {
    /** - Description - */

    #description .content .target {
        font-size: 24px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    /** - App Header - */

    #app-header .contact {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
