:root {
    --transition-duration: 70ms;
}

body {
    font-family: "Oswald", sans-serif;
}

/** - Helpers - */

.no-underline {
    text-decoration: none !important;
}

.rounded-none {
    border-radius: 0 !important;
}

.list-none {
    list-style-type: none !important;
}

.no-outline:focus {
    outline: none;
}

/** - App Header - */

#app-header {
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
}

#app-header .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

#app-header .info {
    line-height: 24px;
    color: #7a7878;
}

#app-header nav a {
    font-size: 22px;
    line-height: 36px;
    color: #000000;
}

#app-header nav button {
    background: #eb8072;
    border-radius: 14px;
    font-size: 22px;
    color: #ffffff;
    border: none;
}

#app-header .contact {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

/** - Mobile Menu - */

#mobile-menu {
    background-color: #282f4b;
    width: 100vw;
    min-height: 100vh;
    z-index: 9;
}

#mobile-menu-order-button {
    background: #eb8072;
    border-radius: 14px;
    font-size: 22px;
    color: #ffffff;
    border: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
}

/** - Description - */

#description {
    background-color: #f1f1f1;
}

#description .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 46px;
}

#description .content img {
    max-width: 100%;
    object-fit: cover;
}

#description .title {
    font-size: 96px;
    line-height: 142px;
    color: #eb8072;
}

#description .target {
    font-size: 48px;
    line-height: 71px;
    color: #eb8072;
}

#description .order-type {
    font-size: 48px;
    line-height: 71px;
    color: #ffffff;
    background-color: #282f4b;
}

#description .name {
    font-size: 48px;
    line-height: 71px;
    color: #eb8072;
}

#description .price {
    font-size: 64px;
    line-height: 95px;
    color: #eb8072;
}

/** - Purpose - */

#purpose {
    background-color: #282f4b;
}

#purpose .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 92px 70px;
}

#purpose .content .cart {
    padding: 18px 24px;
    background-color: #f1f1f1;
    border-radius: 10px;
    gap: 8px;
    min-height: 355px;
    height: 100%;
}

#purpose .content .cart p {
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

/** - Specifications - */

#specifications {
    background-color: #f1f1f1;
}

#specifications .title {
    margin-bottom: 96px;
}

#specifications .title h2 {
    font-size: 48px;
    line-height: 71px;
    color: #000;
}

#specifications .title span {
    background-color: #eb8072;
    color: #fff;
    line-height: 100%;
    padding-bottom: 14px;
}

#specifications .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
    padding-bottom: 22px;
}

#specifications .content .first {
    margin-bottom: 96px;
}

#specifications .content .first img {
    max-width: 100%;
    object-fit: cover;
}

#specifications .content .first .list {
    font-size: 32px;
    line-height: 47px;
}

#specifications .content .first .list h3 {
    font-size: 42px;
}

#specifications .content .second p {
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

/** - Order Now - */

#order-now {
    background-color: #eb8072;
}

#order-now .content {
    padding-top: 86px;
    padding-bottom: 86px;
}

#order-now h2 {
    font-size: 36px;
    line-height: 53px;
    color: #fff;
}

#order-now .buttons-wrapper {
    gap: 16px;
}

#order-now .buttons-wrapper button {
    font-size: 32px;
    line-height: 47px;
    color: #fff;
    background-color: #282f4b;
    border: none;
    padding-top: 6px;
    padding-bottom: 10px;
}

/** - Feedbacks - */

#feedbacks {
    background-color: #f1f1f1;
}

#feedbacks .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 27px;
}

#feedbacks .content .cart {
    padding: 18px 24px;
    background-color: #f1f1f1;
    border-radius: 10px;
    gap: 8px;
    min-height: 355px;
    height: 100%;
}

#feedbacks .content .cart .name {
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

#feedbacks .content .cart .date {
    font-size: 24px;
    line-height: 36px;
    color: #575555;
}

#feedbacks .content .cart .comment {
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

/** - Contacts - */

#contacts {
    background-color: #282f4b;
}

#contacts .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 27px;
}

#contacts .info {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

#contacts .title {
    font-size: 32px;
    line-height: 47px;
    color: #fff;
}

#contacts .copyright {
    margin-top: 300px !important;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/** - Order Modal - */

#order-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.75);
}

#order-modal .content {
    background-color: #282f4b;
    padding: 28px 52px;
    border-radius: 28px;
    min-width: 600px;
}

#order-modal .content #order-modal-close-button {
    height: 48px;
    width: 48px;
    font-size: 32px;
    line-height: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
}

#order-modal form {
    gap: 24px;
}

#order-modal form label span {
    font-size: 28px;
    line-height: 100%;
    color: #fff;
}

#order-modal form label input {
    height: 48px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    border-bottom: 1px solid #c0c0c0;
    width: 320px;
}

/** - Media Queries - */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
    /** - Use Cases - */

    #purpose .content .row {
        gap: 16px;
    }

    /** - Specifications - */

    #specifications .title {
        margin-bottom: 42px;
    }

    #specifications .content .first {
        margin-bottom: 42px;
    }

    #specifications .list {
        padding-top: 32px;
    }

    /** - Feedbacks - */

    #feedbacks .content .row {
        gap: 16px;
    }
}

@media only screen and (max-width: 992px) {
    /** - Description - */

    #description .content .target {
        font-size: 24px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 768px) {
    /** - Purpose - */

    #purpose .content {
        padding-left: 0;
        padding-right: 0;
    }

    /** - Feedbacks - */

    #feedbacks .content {
        padding-left: 0;
        padding-right: 0;
    }

    /** - Order Modal - */

    #order-modal .content {
        min-width: 520px;
    }

    #order-modal .content label span {
        margin-bottom: 8px;
    }

    #order-modal .content input {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    /** - App Header - */

    #app-header .contact {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    /** - Specifications - */

    #specifications .title h2 {
        font-size: 40px;
        padding-bottom: 12px;
    }

    /** - Descriptions - */

    #description .order-type {
        font-size: 30px;
    }

    /** - Order Modal - */

    #order-modal .content {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        min-width: 300px;
    }
}
