:root {
    --transition-duration: 70ms;
}

body {
    font-family: "Oswald", sans-serif;
}

/** - Helpers - */

.no-underline {
    text-decoration: none !important;
}

.rounded-none {
    border-radius: 0 !important;
}

.list-none {
    list-style-type: none !important;
}

/** - App Header - */

#app-header {
    background-color: #f1f1f1;
}

#app-header .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

#app-header .info {
    line-height: 24px;
    color: #7a7878;
}

#app-header nav a {
    font-size: 22px;
    line-height: 36px;
    color: #000000;
}

#app-header nav button {
    background: #eb8072;
    border-radius: 14px;
    font-size: 22px;
    color: #ffffff;
    border: none;
}

#app-header .contact {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

/** - Description - */

#description {
    background-color: #f1f1f1;
}

#description .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 46px;
}

#description .content img {
    max-width: 100%;
    object-fit: cover;
}

#description .title {
    font-size: 96px;
    line-height: 142px;
    color: #eb8072;
}

#description .target {
    font-size: 48px;
    line-height: 71px;
    color: #eb8072;
}

#description .order-type {
    font-size: 48px;
    line-height: 71px;
    color: #ffffff;
    background-color: #282f4b;
}

#description .name {
    font-size: 48px;
    line-height: 71px;
    color: #eb8072;
}

#description .price {
    font-size: 64px;
    line-height: 95px;
    color: #eb8072;
}

/** - Use Cases - */

#use-cases {
    background-color: #282f4b;
}

#use-cases .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 70px;
    padding-right: 70px;
}

#use-cases .content .cart {
    padding: 18px 24px;
    background-color: #f1f1f1;
    border-radius: 10px;
    gap: 8px;
    min-height: 355px;
    height: 100%;
}

#use-cases .content .cart p {
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

/** Media Queries */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
    /** - Use Cases - */

    #use-cases .content .row {
        gap: 16px;
    }
}

@media only screen and (max-width: 992px) {
    /** - Description - */

    #description .content .target {
        font-size: 24px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    /** - App Header - */

    #app-header .contact {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
